* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f4ea;
}

.moodmeter {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#mood {
    font-weight: 800;
    color: #5b3e00;
}

.moodbtn {
    display: flex;
    gap: 15px;
}

.moodbtn button {
    padding: 12px 26px;
    background: rgba(255, 235, 205, 0.7);
    border: 2px solid #8b4c14;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
    backdrop-filter: blur(6px);
}

.moodbtn button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    background: rgba(255, 235, 205, 1);
}

.moodbtn button:active {
    transform: scale(0.95);
}